/*Code citation from balbooa, retrived 12/03/2021, URL:https://www.balbooa.com/blog/tips-and-tricks/add-falling-snowflakes-animation-on-your-joomla-site*/

#snow {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    pointer-events: none;
    z-index: 1000;
}

img {
    width:10%;
    height:170px;
    padding-top: 10px;
  }

/* Moving Santa Citation from stack overflow, accessed 12/03/2021, URL:https://stackoverflow.com/questions/23184346/move-image-across-screen-with-css3*/

@-webkit-keyframes move
{
    from {
        left: 0;
    }
    to {
        left: 45%;
    }
}
@keyframes move
{
    from {
        left: 0;
    }
    to {
        left: 45%;
    }
}

a#santa {
    width:100%;
    height:70px;
    text-decoration: none;
    padding-right: 20px;
    left: 45%;
    position: absolute;
    -webkit-animation: move 5s;
    animation: move 5s;
}

a#santa img {
    -webkit-transition: all 1s ease-in-out;
    -moz-transition: all 1s ease-in-out;
    -o-transition: all 1s ease-in-out;
    -ms-transition: all 1s ease-in-out;
    border-radius:60px;
    transition-duration: 1s;
    }

body{
  background-image: url("background.jpg");
  background-color: #7BA88C;
  color: black;
  font-family: 'Mountains of Christmas';
}

#wrapper{
  width: 100%;
  height: 100%;
  margin: 0 auto;
}

#header{
  font-size: 30px;
  width: 100%;
  height:10%;
  text-align: center;
  padding-top: 0px;
  margin-bottom: 10px;
}

#bar{
  width: 100%;
  font-size: 30px;
  text-align: center;
}

#Content{
  text-align: center;
  background-color: #DE8273;
  width: 100%;
  height: 10%;
  font-size: 30px;
}

.image1, .image2, .image3, .image7, .image8{
  width:400px;
  height:400px;
}

.image1{
  float:left;
  margin-left:150px;
}

.image2{
  float:right;
  margin-right:150px;
}

.image3{
  clear:both;
  float:right;
  margin-right:150px;
  margin-top: 30px;
}

.image4{
  width: 100px;
  height:100px;
  margin-left:625px;
  margin-top: 10px;
}

#footer{
  height: 70px;
  width: 100%;
  text-align: center;
  clear: both;
  font-size: 30px;
}

#wrapper2{
  width:1000px;
  height:900px;
  margin: 0 auto;
}

#header2{
  background-color: #DE8273;
  font-size: 30px;
  font-weight: bold;
  height: 75px;
  width: 1000px;
  text-align: center;
}

#Leftbody2{
  font-family: times new roman;
  background-color: #EAC19D;
  float:left;
  width: 500px;
  height: 500px;
  font-size: 20px;
}

#Rightbody2{
  font-family: times new roman;
  background-color: #EAE3C5;
  float:right;
  width: 500px;
  height: 500px;
  font-size: 20px;
}

.image5{
  clear:both;
  width:500px;
  height:500px;
  margin-left: 250px;
}

.image6{
  width:500px;
  height:500px;
  margin-left: 390px;
}

.image7{
  float:left;
  margin-left:150px;
  margin-top: 30px;
}

.image8{
  float:left;
  margin-left:25px;
  margin-top: 30px;
}

#Content2{
  text-align: center;
  background-color: #EAC19D;
  width: 100%;
  height: 75%;
  font-size: 30px;
}

.materials,.make{
  font-size: 25px;
  font-family:'Mountains of Christmas';
  text-align: center;
  font-weight: bold;
}

#footer2{
  float: left;
  height: 50px;
  width: 1000px;
  text-transform: uppercase;
  text-align:center;
}

#wrapper3{
  width:1000px;
  height:900px;
  margin: 0 auto;
}

#header3{
  background-color: #DE8273;
  font-size: 30px;
  font-weight: bold;
  height: 75px;
  width: 1000px;
  text-align: center;
}

#Leftbody3{
  font-family: times new roman;
  background-color: #EAC19D;
  text-align: center;
  width: 300px;
  height: 200px;
  font-size: 20px;
  margin-left: 350px;
}

#Rightbody3{
  font-family: times new roman;
  background-color: #EAE3C5;
  text-align: center;
  width: 400px;
  height: 200px;
  font-size: 20px;
  margin-left: 300px;
}

#Content3{
  height: 400px;
  width: 100px;
  clear: both;
  padding-left: 300px;
  padding-top: 30px;
}

.ingredients,.steps{
  font-size: 25px;
  font-family:'Mountains of Christmas';
  text-align: center;
  font-weight: bold;
}

#footer3{
  height: 50px;
  width: 1000px;
  text-transform: uppercase;
  text-align:center;
  margin-left: 150px;
}

#video{
  text-align:center;
  font-size: 25px;
}

#button{
  margin-left: 645px;
}

.popup{
  margin-left: 550px;
}
